config:
  outputs: |
    [OUTPUT]
        Name opensearch
        Match kube.*
        Host opensearch-cluster-master.opensearch.svc.cluster.local
        Port 9200
        HTTP_User admin
        HTTP_Passwd Strong_password1
        Index fluent-bit
        Suppress_Type_Name On
        tls On
        tls.verify Off

  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Kube_URL https://kubernetes.default.svc:443
        Kube_CA_File /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log On
        Keep_Log Off
